<!-- Navigation -->
<row-nav class="site-nav">	
    <div class="container-fluid" style="font-family:Rockwell-Bold, Verdana, Arial, sans-serif; font-size:18px;">

        <div style="float: left!important;">
			<!-- Site Title -->
			<li style="padding-left: 0px;left:0;">
				<a class="nav-brand" style="color:#111;" href="{{ site.baseurl }}/">{{ site.title }}</a>
			</li>
        </div>

        <!-- Site Navigatior -->
        <div style="float:right!important; padding-right: 15px;right:0; ">
			<ul>
				{% for section in site.data.framework['section'] %}
				<li>				
					<a class="nav-brand" style="color:#111;" href="{{ site.baseurl }}/{{ section.index_url }}">{{section.name}}</a>
					
				</li>
				{% endfor %}
				<!-- <li>
					<a class="nav-brand" style="color:#111;" href="{{ site.baseurl }}/">Home</a>
				</li>
				<li>
					<a class="nav-brand" style="color:#111;" href="{{ site.baseurl }}/blog">Blog</a>
				</li>
				<li>
					<a class="nav-brand" style="color:#111;" href="{{ site.baseurl }}/moment">Moment</a>
				</li>
				<li>
					<a class="nav-brand" style="color:#111;" href="{{ site.baseurl }}/me">Me</a>
				</li>
				<li>
					<a class="nav-brand" style="color:#111;" href="{{ site.baseurl }}/about">About</a>
				</li> -->
			</ul>
           
        </div>       
    </div>    
</row-nav>

