/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}




/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
/* img {
    max-width: 100%;
	height: auto;
    vertical-align: middle;
	//margin: 1.5em auto 1.6em auto;
} */



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Fonts
 */
 @font-face {
  font-family: 'Rockwell-Bold';

  src: url('../fonts/Rockwell/Rockwell-Bold.eot');
  src: url('../fonts/Rockwell/Rockwell-Bold?#iefix') format('embedded-opentype'), url('../fonts/Rockwell/Rockwell-Bold.woff2') format('woff2'), url('../fonts/Rockwell/Rockwell-Bold.woff') format('woff'), url('../fonts/Rockwell/Rockwell-Bold.ttf') format('truetype'), url('../fonts/Rockwell/Rockwell-Bold.svg#Rockwell-Bold') format('svg');
}

@font-face {
  font-family: 'SourceCodePro-Black';

  src: url('../fonts/SourceCodePro/SourceCodePro-Black.eot');
  src: url('../fonts/SourceCodePro/SourceCodePro-Black?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro/SourceCodePro-Black.woff2') format('woff2'), url('../fonts/SourceCodePro/SourceCodePro-Black.woff') format('woff'), url('../fonts/SourceCodePro/SourceCodePro-Black.ttf') format('truetype'), url('../fonts/SourceCodePro/SourceCodePro-Black.svg#SourceCodePro-Black') format('svg');
}

@font-face {
  font-family: 'TrajanPro3';

  src: url('../fonts/TrajanPro/TrajanPro3.eot');
  src: url('../fonts/TrajanPro/TrajanPro3?#iefix') format('embedded-opentype'), url('../fonts/TrajanPro/TrajanPro3.woff2') format('woff2'), url('../fonts/TrajanPro/TrajanPro3.woff') format('woff'), url('../fonts/TrajanPro/TrajanPro3.ttf') format('truetype'), url('../fonts/TrajanPro/TrajanPro3.svg#TrajanPro3') format('svg');
}

@font-face {
  font-family: 'TrajanPro3-Bold';

  src: url('../fonts/TrajanPro/TrajanPro3-Bold.eot');
  src: url('../fonts/TrajanPro/TrajanPro3-Bold?#iefix') format('embedded-opentype'), url('../fonts/TrajanPro/TrajanPro3-Bold.woff2') format('woff2'), url('../fonts/TrajanPro/TrajanPro3-Bold.woff') format('woff'), url('../fonts/TrajanPro/TrajanPro3-Bold.ttf') format('truetype'), url('../fonts/TrajanPro/TrajanPro3-Bold.svg#TrajanPro3-Bold') format('svg');
}

@font-face {
    font-family: 'Lora-Italic';
    src: url('../fonts/Lora/Lora-Italic.eot');
    src: url('../fonts/Lora/Lora-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lora/Lora-Italic.woff2') format('woff2'),
         url('../fonts/Lora/Lora-Italic.woff') format('woff'),
         url('../fonts/Lora/Lora-Italic.svg#loraitalic') format('svg');

}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora.eot');
    src: url('../fonts/Lora/Lora.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lora/Lora.woff2') format('woff2'),
         url('../fonts/Lora/Lora.woff') format('woff'),
         url('../fonts/Lora/Lora.svg#loraregular') format('svg');

}

@font-face {
    font-family: 'GoudyOldStyle';
    src: url('../fonts/GoudyOldStyle/GoudyOldStyle.eot');
    src: url('../fonts/GoudyOldStyle/GoudyOldStyle.eot?#iefix') format('embedded-opentype'),
         //url('../fonts/GoudyOldStyle/GoudyOldStyle.woff2') format('woff2'),
         url('../fonts/GoudyOldStyle/GoudyOldStyle.woff') format('woff'),
         url('../fonts/GoudyOldStyle/GoudyOldStyle.svg#loraregular') format('svg');

}

/* @font-face {
  font-family: 'Lato';

  src: url('../fonts/Lato/Lato.eot');
  src: url('../fonts/Lato/Lato?#iefix') format('embedded-opentype'), 
  url('../fonts/Lato/Lato.woff2') format('woff2'), 
  url('../fonts/Lato/Lato.woff') format('woff'), 
  url('../fonts/Lato/Lato.ttf') format('truetype'), 
  url('../fonts/Lato/Lato.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato-Bold';

  src: url('../fonts/Lato/Lato-Bold.eot');
  src: url('../fonts/Lato/Lato-Bold?#iefix') format('embedded-opentype'), 
  url('../fonts/Lato/Lato-Bold.woff2') format('woff2'), 
  url('../fonts/Lato/Lato-Bold.woff') format('woff'), 
  url('../fonts/Lato/Lato-Bold.ttf') format('truetype'), 
  url('../fonts/Lato/Lato-Bold.svg#Lato') format('svg');
}
 */

/**
 * Tags
 */
 .tag-list{
	margin-bottom: -5px;
	a, .tag{
		display: inline-block;
		border: 1px solid rgba(255,255,255,0.8);
		border-radius: 999em;
		padding: 0 10px;
		color: rgba(255,255,255,1);
		line-height: 24px;
		font-size: 12px;
		text-decoration: none;
		margin: 0 1px;
		margin-bottom: 6px;
		&:hover, &:active{
			color:white;
			border-color: white;
			background-color: rgba(255,255,255,0.4);
			text-decoration: none;

		}
		@media only screen and (min-width: 768px) {
			margin-right: 5px;
		}
	}
}

/* #tag-heading{
	padding: 70px 0 60px;
	@media only screen and (min-width: 768px) {
		padding:55px 0;
	}

}
// tag_cloud
#tag_cloud{
	margin:20px 0 15px 0;
	a,.tag{
		font-size: 14px;
		border: none;
		line-height: 28px;
		margin: 0 2px;
		margin-bottom: 8px;
		background: #D6D6D6;
		&:hover, &:active{
			background-color: #0085a1 !important;
		}
	}
	@media only screen and (min-width: 768px) {
		margin-bottom: 25px;
	}
}

.tag-comments{
    font-size: 12px;
    	@media only screen and (min-width: 768px) {
		font-size:14px;
	}
}

.one-tag-list{
	.tag-text{
		font-weight: 200;
		.sans-serif;
	}
	.post-preview {
		position: relative;
		> a {
			.post-title{
				font-size: 16px;
				font-weight: 500;
				margin-top: 20px;
			}
			.post-subtitle{
				font-size: 12px;
			}
		}
		> .post-meta{
			position: absolute;
			right: 5px;
			bottom: 0px;
			margin: 0px;
			font-size: 12px;
			line-height: 12px;
		}
		@media only screen and (min-width: 768px) {
			margin-left: 20px;
			> a {
				> .post-title {
					font-size: 18px;
					line-height: 1.3
				}
				> .post-subtitle{
					font-size: 14px;
				}
			}
			.post-meta{
				font-size: 18px;
			}
		}
	}
} */
 
/**
 * Others
 */
 

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* .pic-header{
	background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
} */

row-nav {
	padding-left: 0;
	margin-bottom: 0;
	
	
	li {
		position: relative;
		display: block;
		list-style: none;
		float: left;
		
		a {
			position: relative;
			display: block;
			padding: 10px 15px;
		}
		a:hover {
			color: $grey-extreme-light;
		}
		a:focus {
			text-decoration: none;
			/* background-color: #eee; */
		}
	}
}

/* .row { */
  /* margin-right: -15px; */
  /* margin-left: -15px; */
/* } */

/* form .row:first-child .floating-label-form-group { */
	/* border-top: 1px solid $grey-color-light; */
/* } */

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
/* .row:before, */
/* .row:after, */
.site-nav:before,
.site-nav:after {
  display: table;
  content: " ";
}

.container:after,
.container-fluid:after,
/* .row:after, */
.site-nav:after,
.site-nav:after {
  clear: both;
}


 