/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    //float: right;
    //line-height: 56px;
	border:none;
	//position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 3;
	font-size: 18px;
	//color: white;
	
	/* &:before{
	  display: table;
	  content: " ";
	}
	&:after {
	  display: table;
	  content: " ";
	  clear: both;
	}	 */

	.nav-brand {
		font-weight: 800;
		// materialize
		color: white;
		height: 8px;
		line-height: 8px;
		&:hover{
			color: $grey-extreme-light; //rgba(255, 255, 255, 0.8);
		}
	}

	/* row-nav {
		li {
			a {
				text-transform: uppercase;
				font-size: 12px;
				line-height: 20px;
				font-weight: 800;
				letter-spacing: 1px;
				// only highlight in mobile
				&:active{
					background: rgba(0,0,0,0.12)
				}
			}
		}
	}

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    } */

    /* @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    } */
}


/**
 * Site footer
 */
.site-footer {
	font-size: 12px;
    //border-top: 1px solid $grey-color-light; //draw a grey line
	//padding-bottom: 0;
    padding: $spacing-unit 0;
	line-height:1.2;
	
	a{
		color:#337ab7;
		// different to @brand-color
		&:hover,
		&:focus {
			color: $brand-color;
		}
	}
}
/*
.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
*/


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

/* .post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1; 

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
*/

.post-preview {
	a {
		color: $grey-color-dark;
		&:hover,
		&:focus {
			text-decoration: none;
			color: $brand-color;
		}
		.post-title {
			font-family: $base-font-family;
			/* font-style: bold; */
			font-size: 21px;
			line-height: 1.3;
			margin-top: 30px;
			margin-bottom: 8px;
		}
		.post-subtitle {
			font-family: Lora-Italic;
			font-size: 15px;
			line-height: 1.3;
			margin: 0;
			font-weight: 300;
			margin-bottom: 10px;
		}
	}
	.post-meta {
		/* .serif; */
		font-family: $serif-font-family;
		color: $grey-color;
		font-size: 16px;
		font-style: italic;
		margin-top: 0;
		a {
			text-decoration: none;
			color: $grey-color-dark;
			&:hover,
			&:focus {
				color: $brand-color;
				text-decoration: underline;
			}
		}
	}
	p {
		margin: 30px 0;
	}
	
	@media only screen and (min-width: 768px) {
				
		a {
			.post-title {
				font-size: 26px;
				line-height: 1.3;
				margin-bottom: 10px;
			}
			.post-subtitle{
				font-size: 16px;
			}
		}
		.post-meta{
			font-size: 18px;
		}
	}
}

.post-content-preview{
	//font-family: Lora-Italic;
    font-size: 13px;
    font-style: italic;
    color:#a3a3a3;
    &:hover{
        color: $brand-color;
    }
    @media only screen and (min-width: 768px) {
        font-size:14px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-container{
	padding-left: 15px;
	padding-right: 15px;
	width: 66.66666667%;
	
	a{
		color:#337ab7;
		&:hover,
		&:focus {
			color: $brand-color;
		}
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 30px 0 10px;
	}
	h5{
		font-size: 19px;
		font-weight: 600;
		color:gray;
		& + p{
			margin-top: 5px;
		}
	}
	h6{
		font-size: 16px;
		font-weight: 600;
		color: gray;
		& + p{
			margin-top: 5px;
		}
	}
	ul,ol{
		margin-bottom: 40px;
		@media screen and (max-width: 768px){			
			&{
				padding-left: 30px;
			}
		}
		@media screen and (max-width: 500px){
			&{
				padding-left: 20px;
			}
		}
	}
	ol ol, ol ul, ul ol, ul ul{
		margin-bottom: 5px
	}
	li{
		p{
			margin: 0;
			margin-bottom: 5px;
		}
		h1,h2,h3,h4,h5,h6{
			line-height: 2;
			margin-top: 20px;
		}
	}
	@media screen and (min-width: 768px){
		margin-left: 8.33333333%;	
		position: relative;
		float: left;
		
	}
	
}

/**
 * sidebar-container
 */
 .sidebar-container {
	color: #bfbfbf;
	font-size: 14px;
	
	@media screen and (min-width: 768px){
		position: relative;
		width: 22%;
		float: left!important;
	}

	h5 {
		color: #808080;
		padding-bottom: 1em;
	
		a {
			color: #808080 !important;
			text-decoration: none;
		}
	}
	
	a {
		color: #bfbfbf !important;
		&:hover, &:active {
			color: #0085a1 !important;
		}
	}
	
	.tags{
        a{
            border-color: #bfbfbf;
            &:hover, &:active{
                border-color: #0085a1;
            }
        }
    }
}

