---
layout: default
---
<!-- Page Header -->
<header>

	<div style="padding-top: 12px;">
		{% include header-nav_black.html %}
	</div>
	<div style="margin-top:10px; width:100%; background-color:#111;">
	<!-- <div style="margin-top:10px; width:100%; background-color:#515151;"> -->
			<ul style="font-size:16px; font-family:TrajanPro3; font-style:bold; float:left; position:relative; left:50%; margin:0 auto;">
				<li id="li_all" onclick="getCategoryId('all')" style="float:left!important; list-style-type:none; margin:15px; position:relative; right:50%;" >				
					<a class="nav-brand" style="color:#fdfdfd;" href="#all">All</a>
					
				</li>
				{% for section in site.data.framework['section'] %}
				{% if section.name == 'Blog' %}
				{% for category in section.category%}
				<li id="li_{{ category.name }}" onclick="getCategoryId('{{ category.name }}')" style="float:left!important; list-style-type:none; margin:15px; position:relative; right:50%;">				
					<a class="nav-brand"  style="color:#fdfdfd;" href="#{{ category.name }}">{{ category.name }}</a>
					
				</li>
				{% endfor %}
				{% endif %}
				{% endfor %}
			</ul>
	<div style="clear:both;"></div>
	</div>
</header>

<!-- Main Content --> 
<div class="container">
	<!-- <div class="row"> -->
		<!-- Post Container -->
		<div class="post-container">
			{{ content }}
		</div>
		<!-- Sidebar Container -->
		<div class="sidebar-container">
			<!-- Tags -->
			{% if site.tags %}
			<!-- <hr /> -->
			<section style="margin-left:10px; margin-top:15px;">				
				<h5>TAGS</h5>
				<div class="tag-list">
					{% for tag in site.tags %}						
						<a  href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}"> {{tag[0]}} </a>
					{% endfor %}
				</div>
			</section>
			{% endif %}                
		</div>
        
	<!-- </div> -->
</div>

<script>
	function getCategoryId(category_id) {
		//document.write(this_id)
		// 标题
		x = document.getElementById("li_" + category_id)
		//x.style.backgroundColor = '#999'
	}
</script>