---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<!-- 	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
	</header> -->
	
	<div style="padding-top: 12px;">
		{% include header-nav_black.html %}
	</div>

	<div class="container">
		<div class="post-container">
			<div class="post-preview">
				<h1 class="post-title">{{ page.title }}</h1>
				<p class="post-meta">        
					{{ page.date | date: "%B %-d, %Y" }}
				</p>
			</div>
			{{ content }}
		</div>
	</div>

</article>